/* estilização temporária dos cards Recommended, caso nececesário, pode modificar ou refazer conforme a necessidade */
  .card {
    margin: 8px;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-sizing: border-box;
  }
